[submodule "LRender"]
	path = LRender
	url = https://github.com/fantasiorona/LRender
[submodule "LParse"]
	path = LParse
	url = https://github.com/fantasiorona/LParse
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "PerlinNoise"]
	path = PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise
